
--index-url https://download.pytorch.org/whl/cu128
torch==2.7.1

--find-links https://data.pyg.org/whl/torch-2.7.1+cu128.html
torch-scatter

--extra-index-url https://download.blender.org/pypi/
bpy==4.0.0

scikit-learn
pytz
psutil
lightning==2.2
h5py
yacs
loguru
boto3
plyfile
einops
libigl
open3d
scikit-image
trimesh==4.9.0
seaborn
